{% extends 'hobbies/base.html' %}

{% block title %}Person20020 - Hobbies - Keyboards{% endblock %}

{% block content_hobbies %}

<h1 class="center">Keyboards</h1>
<h3 class="center p80 center-self">
    Mechanical Keyboards! The Best (and Only Worth Using) Type of Keyboard!
</h3>
<p class="center p80 center-self">
    I really like keyboards. Like a lot. So far I have built a Lily58 from scratch, designed my own custom number pad with encoders, and built the 'Artpad,' a macro pad that has (a Colemak variation of) the <a href="https://artsey.io" target="_blank" class="double-underline">Artsey.io</a> layout. 
    I have also made various other keyboard-ish things like a foot pedal macro thing that runs <a href="https://pog.janlunge.de/" target="_blank" class="double-underline">POG</a> 
    and of course I also have the required 'test-bench-keyboard-thing' (basically a breadboard with a controller and some limit switches [because they are easy to attach header pins to] and often some leds) to test out features in firmware before I add them to whatever I am currently working on.
</p>
<p class="center p80 center-self">
    Most of the keyboards that I have made are handwired, meaning that they have no pcb and just use copper wire for the columns and rows. This makes prototyping much cheaper and more accessible. 
    The only PCB board that I have is my 'Artpad' that I made for the <a href="https://hackpad.hackclub.com" target="_blank" class="double-underline">Hackpad</a> program. It 
</p>


{% endblock %}