{% extends base.html %}

{% block title %}Person20020 - Hobbies{% endblock %}

{% block content %}

<h1 class="center">Hobbies</h1>

<h3 class="center p80 center-self">
    Here you can see all of my hobbies and interests.
</h3>

<ul class="hobbies-list">
    <li>
        <div class="archive-card center-self">
            <a href="/hobbies/coding" class="double-underline">Coding</a>
            <img src="https://fakeimg.pl/533x400" alt="Coding" class="center">
        </div>
    </li>

</ul>

{% endblock %}