{% extends 'base.html' %}

{% block title %}Person20020{% endblock %}

{% block content %}

<h1 class="center">Welcome!</h1>
<h3 class="center p80 center-self">
    Hello! I'm Person20020, called so because I basically joined the internet in 2020 and couldn't think of anything better (lol). 
</h3>
<p class="p80 center center-self">
    This is my website. Here you can find info all about me and my hobbies and projects. I like all sorts of tech stuff like <a href="/hobbies/coding" class="double-underline">coding</a>, <a href="/hobbies/keyboards" class="double-underline">keyboards</a>, and <a href="/hobbies/3dprinting" class="double-underline">3D printing</a>. 
    I'm a part of the great organization of <a href="https://hackclub.com" target="_blank" class="double-underline">Hack Club</a>, a global network of teenagers who share a love of coding and tech in general. 
    If you are here you probably came from <a href="https://ahoy.hack.club/2250" target="_blank" class="double-underline">High Seas</a>, but if you found this from somewhere else I can definitely recommend it. 
    High Seas is a program in which you code projects and then 'ship' them so that everyone else can see them and give feedback and vote on them. You can earn points for them and spend those points to get tech related prizes. 
</p>

{% endblock %}